h1 a {
  font-size: 35px;
  text-decoration: none;
  text-transform: uppercase;
  color: #eacf62;
  margin-left: 150px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}

header, .todos {
  text-align: left;
}

.todosContainer {
  width: 60%;
  margin: auto;
}

h2 {
  padding-bottom: .5em;
  margin-bottom: .5em;
}

.incomplete h2{
  border-bottom: 3px solid red;
}

.todoForm {
  clear:both;
  text-align: left;
}

span.deleteButton, span.toggleButton {
  padding-left: 1em;
}

.deleteButton{
  color: red;
}

.createForm {
  padding-top: 3em;
  padding-bottom: 3em;
  margin: auto;
  width: 58%;
}
